<!-- Not toggled switch -->
<div class="h-full flex flex-col">
  <div class="flex text-xl font-extrabold text-gray-300">
    <h1
      [ngClass]="{
        'text-transparent bg-clip-text bg-gradient-to-tr from-red-700 to-pink-500':
          !toggleActive
      }"
    >
      <span class="cursor-pointer" (click)="toggleActive = false">EN</span>
    </h1>
    <!-- Switch Container -->
    <div
      [ngClass]="{
        'bg-gradient-to-br from-blue-500 to-cyan-500': toggleActive,
        'bg-gradient-to-tr from-red-600 to-pink-500': !toggleActive
      }"
      class="w-14 h-7 flex items-center bg-gray-300 rounded-full mx-3 px-1 cursor-pointer"
      (click)="handleToggleActive()"
    >
      <!-- Switch -->
      <div
        class="bg-white w-5 h-5 rounded-full shadow-md transform transition-transform"
        [ngClass]="{ 'translate-x-7': toggleActive }"
      ></div>
    </div>
    <h1
      [ngClass]="{
        'text-transparent bg-clip-text bg-gradient-to-tr from-blue-500 to-cyan-500':
          toggleActive
      }"
      class=""
    >
      <span class="cursor-pointer" (click)="toggleActive = true">FR</span>
    </h1>
  </div>
</div>
