<nav
  class="bg-white border-b-4 pt-2 fixed z-50 w-full"
  [ngClass]="{
    'border-red-500': activeRoute == '/',
    'border-blue-500': activeRoute == '/#our-program',
    'border-green-500': activeRoute == '/#about-us'
  }"
>
  <div class="mx-auto max-w-7xl px-2 lg:px-8 flex justify-center">
    <div class="relative flex items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center">
        <!-- Mobile menu button-->
      </div>
      <div class="flex flex-1 items-center justify-center">
        <!-- <div class="flex flex-shrink-0 items-center">
          <img
            class="block h-8 w-auto lg:hidden"
            src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
            alt="Your Company"
          />
          <img
            class="hidden h-8 w-auto lg:block"
            src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
            alt="Your Company"
          />
        </div> -->
        <div class="sm:ml-6 sm:block">
          <div class="flex">
            <a
              title="{{ 'GLOBAL.HOME' | translate }}"
              routerLink="/"
              (click)="scrollToFragment('')"
              [ngClass]="{ 'text-white bg-red-500': activeRoute == '/' }"
              class="px-5 py-3 rounded-t-md font-semibold uppercase transition-all border-transparent hover:bg-red-500 hover:text-white text-lg"
              aria-current="page"
              >{{ "GLOBAL.HOME" | translate }}</a
            >

            <a
              title="{{ 'GLOBAL.OUR_PROGRAM' | translate }}"
              routerLink="/"
              fragment="our-program"
              [ngClass]="{
                'text-white bg-blue-500': activeRoute == '/#our-program'
              }"
              (click)="scrollToFragment('our-program')"
              class="px-5 py-3 rounded-t-md font-semibold uppercase transition-all border-b-4 border-transparent hover:bg-blue-500 hover:text-white text-lg"
              >{{ "GLOBAL.OUR_PROGRAM" | translate }}</a
            >

            <a
              title="{{ 'GLOBAL.ABOUT_US' | translate }}"
              routerLink="/"
              fragment="about-us"
              [ngClass]="{
                'text-white bg-green-500': activeRoute == '/#about-us'
              }"
              (click)="scrollToFragment('about-us')"
              class="px-5 py-3 rounded-t-md font-semibold uppercase transition-all border-b-4 border-transparent hover:bg-green-500 hover:text-white text-lg"
              >{{ "GLOBAL.ABOUT_US" | translate }}</a
            >
            <!-- <app-toggle></app-toggle> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        href="#"
        class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
        aria-current="page"
        >{{ "GLOBAL.HOME" | translate }}</a
      >

      <a
        href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >{{ "GLOBAL.OUR_PROGRAM" | translate }}</a
      >

      <a
        href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >{{ "GLOBAL.ABOUT_US" | translate }}</a
      >
      <div class="flex justify-center">
        <div class="form-check form-switch">
          <input
            class="form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label
            class="form-check-label inline-block text-gray-800"
            for="flexSwitchCheckDefault"
            >Default switch checkbox input</label
          >
        </div>
      </div>
    </div>
  </div>
</nav>
