<nav
  class="bg-white border-b-4 pt-2 fixed z-50 w-full"
  [ngClass]="{
    'border-red-500': activeRoute == '/',
    'border-blue-500': activeRoute == '/#our-program',
    'border-green-500': activeRoute == '/#about-us'
  }"
>
  <div class="mx-auto w-full max-w-7xl px-2 lg:px-8 flex justify-center">
    <div class="relative w-full flex items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center">
        <!-- Mobile menu button-->
      </div>
      <div class="flex flex-1 items-center justify-center">
        <div class="flex flex-col md:flex-row w-full justify-between">
          <div class="ml-auto sm:hidden">
            <div
              (click)="expandMenu()"
              class="w-8 h-8 relative cursor-pointer rounded-full flex justify-center items-center mb-4 mr-2"
            >
              <div class="relative w-full">
                <div
                  class="h-1 w-3/4 ml-auto bg-gradient-to-br from-red-500 to-amber-600 transition-all duration-300 absolute -top-2 right-0"
                  [ngClass]="{
                    'w-full top-0 rotate-45 z-10': menuIsExpanded,
                    'w-3/4': !menuIsExpanded
                  }"
                ></div>
                <div
                  class="h-1 w-full bg-gradient-to-tr from-blue-500 to-cyan-500 transition-all duration-300 absolute"
                  [ngClass]="{ 'rotate-[135deg]': menuIsExpanded }"
                ></div>
                <div
                  class="h-1 bg-gradient-to-br from-emerald-600 to-green-500 transition-all duration-200 absolute -bottom-3"
                  [ngClass]="{
                    'w-full bottom-0 -rotate-45 from-transparent to-transparent':
                      menuIsExpanded,
                    'w-3/4': !menuIsExpanded
                  }"
                ></div>
              </div>
            </div>
          </div>
          <div
            class="max-h-0 overflow-hidden sm:overflow-visible transition-all sm:max-h-screen flex flex-col sm:flex-row sm:justify-between w-full"
            [ngClass]="{
              'max-h-screen': menuIsExpanded,
              'overflow-visible': menuIsExpanded
            }"
          >
            <div class="flex flex-col sm:flex-row order-2">
              <a
                title="{{ 'GLOBAL.HOME' | translate }}"
                routerLink="/"
                (click)="scrollToFragment('')"
                [ngClass]="{
                  'text-white bg-gradient-to-t from-red-500 to-amber-600':
                    activeRoute == '/'
                }"
                class="px-5 py-3 rounded-t-md font-semibold uppercase transition-all hover:bg-gradient-to-t hover:from-red-500 hover:to-amber-600 hover:text-white text-lg"
                aria-current="page"
                >{{ "GLOBAL.HOME" | translate }}</a
              >

              <a
                title="{{ 'GLOBAL.OUR_PROGRAM' | translate }}"
                routerLink="/"
                fragment="our-program"
                [ngClass]="{
                  'text-white bg-gradient-to-t from-blue-500 to-cyan-500':
                    activeRoute == '/#our-program'
                }"
                (click)="scrollToFragment('our-program')"
                class="px-5 py-3 rounded-t-md font-semibold uppercase transition-all hover:bg-gradient-to-t hover:from-blue-500 hover:to-cyan-500 hover:text-white text-lg"
                >{{ "GLOBAL.OUR_PROGRAM" | translate }}</a
              >

              <a
                title="{{ 'GLOBAL.ABOUT_US' | translate }}"
                routerLink="/"
                fragment="about-us"
                [ngClass]="{
                  'text-white bg-gradient-to-b from-emerald-600 to-green-500':
                    activeRoute == '/#about-us'
                }"
                (click)="scrollToFragment('about-us')"
                class="px-5 py-3 rounded-t-md font-semibold uppercase transition-all hover:bg-gradient-to-br hover:from-emerald-600 hover:to-green-500 hover:text-white text-lg"
                >{{ "GLOBAL.ABOUT_US" | translate }}</a
              >
            </div>
            <!-- <app-language class="ml-auto order-3 w-40"></app-language> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
